.filters {
  width: 100%;
  background-color: #808080;
  color: #fff;
  text-align: left;
  cursor: pointer;
}

.filters-closed {
  text-align: left;
  height: 30px;
  width: 100%;
  padding-left: 10px;
  padding-top: 2px;
  display: flex;
  flex-direction: row;
}

.filters-open {
  height: 150px;
  width: 100%;
  padding-left: 10px;
  padding-top: 2px;
  display: flex;
  flex-direction: row;
}

.caret {
  color: white;
  height: 30px;
  width: auto;
  margin-left: 5px;
  margin-right: 5px;
  padding-bottom: 5px;
}
