.gallery-page {
  background-color: #bebebe;
  padding-bottom: 50px;
  min-height: 100%;
}

.gallery-body {
  padding: 1rem;
  display: flex;
  flex: 1;
}

.gallery-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
