.main {
  min-height: 100%;
  padding-top: 2%;
  background-color: #bebebe;
}

.mainRow {
  min-height: 100%;
  width: 100%;
  margin: 0;
}

.profile {
  height: 60vmin;
  padding-bottom: 10px;
  margin: 10% 10% 0 0;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.tormund-link {
  color: #f4511e;
  text-decoration: none;
}

.tormund-link:hover{
  color: #000;
  text-decoration: none;
}

.text {
  margin: 8% 0;
  padding: 0 5%;
}
